WEBSITE_PORT=4002
ADMIN_PORT=4102
PRODUCT_DOMAIN=matsco.ibnbatoutaweb.com
ADMIN_DOMAIN=admin.matsco.ibnbatoutaweb.com
ADMIN_USER=matsco_admin
ADMIN_PASS=change-this-before-go-live
COOKIE_SECURE=true
DATA_FILE=/app/data/data.json
UPLOADS_DIR=/app/uploads
AUTH_FILE=/app/data/auth.json
